apiVersion: apps/v1
kind: Deployment
metadata:
  name:  go-db-app
  namespace: default
  labels:
    app:  go-db
spec:
  selector:
    matchLabels:
      app: go-db
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app:  go-db
      annotations:
        prometheus.io/scrape: "true" # Allowing prometheus to scrape
        prometheus.io/path: "/metrics" # HTTP path for metricscd 
        prometheus.io/port: "8080" # Port Prometheus should hit
    spec:
      # initContainers:
        # Init containers are exactly like regular containers, except:
          # - Init containers always run to completion.
          # - Each init container must complete successfully before the next one starts.
      containers:
      - name:  go-db-app-container
        image:  anuroop21/go-db-application:v2
        imagePullPolicy: IfNotPresent
        #   requests:
        #     cpu: 100m
        #     memory: 100Mi
        #   limits:
        #     cpu: 100m
        #     memory: 100Mi
        # livenessProbe:
        #   tcpSocket:
        #     port: 80
        #   initialDelaySeconds: 5
        #   timeoutSeconds: 5
        #   successThreshold: 1
        #   failureThreshold: 3
        #   periodSeconds: 10
        # readinessProbe:
        #   httpGet:
        #     path: /_status/healthz
        #     port: 80
        #   initialDelaySeconds: 5
        #   timeoutSeconds: 2
        #   successThreshold: 1
        #   failureThreshold: 3
        #   periodSeconds: 10
        env:
        - name: DB_HOST
          value: "postgres-db-service"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: go-app-configmap
              key: DB_NAME
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              key: DB_USERNAME
              name: go-app-secret
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: DB_PASSWORD
              name: go-app-secret
        ports:
        - name: http
          containerPort:  8080
          protocol: TCP
      restartPolicy: Always