apiVersion: apps/v1
kind: Deployment
metadata:
  name:  postgres-deployment
  namespace: default
  labels:
    app: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app:  postgres
    spec:
      # initContainers:
        # Init containers are exactly like regular containers, except:
          # - Init containers always run to completion.
          # - Each init container must complete successfully before the next one starts.
      containers:
      - name:  postgres
        image:  postgres:17-alpine
        ports:
          - containerPort: 5432
        volumeMounts:
          - name: postgres-storage  # same as volume name under spec:
            mountPath: /var/lib/postgresql
            subPath: postgres
        envFrom:
        - configMapRef:
            name: postgres-db-configmap
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              key: postgres_user
              name: postgres-db-secret
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: postgres_password
              name: postgres-db-secret 
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-db-pvc